<!-- Fixo -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Candidatura</h2>
		<ol class="breadcrumb">
			<li>
				<a ui-sref="navContainer.home">Home</a>
			</li>
			<li ng-class="{'active': !ct.codEleicao}">
				<strong ng-hide="ct.codEleicao">Candidatura</strong>
				<a ng-show="ct.codEleicao" ui-sref="navContainer.candidaturas">Candidatura</a>
			</li>
			<li class="active" ng-show="ct.codEleicao">
				<strong>Eleição #{{ct.codEleicao}}</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<!-- /Fixo -->

	<div class="row" ng-show="ct.error">
		<div class="col-md-12">
			<div class="alert alert-danger">
		        <p class="alert-link" style="display: inline;">Erro!</p> {{ct.error}}
		    </div>
		</div>
	</div>

	<div class="row" ng-show="!ct.error">
		<div class="col-md-5">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Candidatura</h5>
				</div>
				<div>
					<div class="ibox-content border-left-right" style="border-style: none solid none;">
						<img alt="image" class="img-responsive" src="Assets/img/user.png" id="fotoCandidatura">
					</div>
					<div class="ibox-content profile-content">
						<h4><strong>{{ct.usuario.Nome}}</strong></h4>
						<p><i class="fa fa-briefcase"></i> {{ct.usuario.Cargo}}</p>
						<h4>
							Objetivos
						</h4>
						<textarea rows="3" class="form-control" placeholder="Fale um pouco sobre seus objetivos como membro da CIPA..." ng-model="ct.usuario.Sobre" ng-disabled="ct.candidato.Validado"></textarea>
						<span class="help-block m-b-none">{{ct.usuario.Sobre.length || '0'}}/255</span>
						


						<div class="user-button">
							<div class="row">
								<div class="col-md-6">
									<label class="custom-image-upload btn-success btn-sm btn-block" ng-hide="ct.candidato.Validado">
										<input ng-if="!ct.candidato.Validado" type="file" name="file" onchange="previewFile()">
										<i class="fa fa-camera"></i> Foto
									</label>
								</div>
								<div class="col-md-6">
									<button type="button" class="btn btn-primary btn-sm btn-block" ng-hide="ct.candidato.Validado" ng-click="ct.candidatar()" ng-disabled="formCandidatura.$invalid"><i class="fa fa-floppy-o"></i> Salvar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-7">

			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Detalhes sobre o candidato</h5>
				</div>

				<div class="ibox-content profile-content">

					<div class="row" style="max-width: 450px;">

						<div class="col-md-12">
							<form novalidate name="formCandidatura">

								<div class="form-group" ng-class="{'has-error': formCandidatura.inputCPF.$invalid}">
									<label for="inputCPF">Login</label>
									<input type="text" class="form-control" name="inputCPF" required id="inputCPF" ng-model="ct.usuario.Login" disabled>
								</div>

								<div class="form-group" ng-class="{'has-error': formCandidatura.inputNome.$invalid}">
									<label for="inputNome">Nome</label>
									<input type="text" class="form-control" name="inputNome" required id="inputNome" ng-model="ct.usuario.Nome" ng-disabled="ct.candidato.Validado">
								</div>

								<div class="form-group" ng-class="{'has-error': formCandidatura.inputEmail.$invalid}">
									<label for="inputEmail">E-mail</label>
									<input type="text" class="form-control" name="inputEmail" required id="inputEmail" ng-model="ct.usuario.Email" ng-disabled="ct.candidato.Validado">
								</div>


								<div class="form-group" ng-class="{'has-error': formCandidatura.inputCargo.$invalid}">
									<label for="inputCargo">Cargo Atual</label>
									<input type="text" class="form-control" name="inputCargo" required id="inputCargo" ng-model="ct.usuario.Cargo" disabled>
								</div>

								<div class="form-group" ng-class="{'has-error': formCandidatura.inputArea.$invalid}">
									<label for="inputArea">Área / Departamento</label>
									<input type="text" class="form-control" name="inputArea" required id="inputArea" ng-model="ct.usuario.Area" disabled>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group" ng-class="{'has-error': formCandidatura.inputDataAdmissao.$invalid}">
											<label for="inputDataAdmissao">Data de Admissão</label>
											<input type="date" class="form-control" name="inputDataAdmissao" required id="inputDataAdmissao" ng-model="ct.usuario.DataAdmissao" disabled>
										</div>
									</div>
								</div>

								<hr>

								<h3 ng-if="ct.candidato.Validado" style="color: green;"><i class="fa fa-check"></i> Candidatura Aprovada.</h3>
								<h3 ng-if="ct.candidato.Validado === false" style="color: red;"><i class="fa fa-times"></i> Candidatura Reprovada.</h3>
								<h3 ng-if="ct.candidato.Validado === null"><i class="fa fa-hourglass-half"></i> Aguardando Aprovação.</h3>

								<div class="form-group" ng-if="ct.candidato.Validado === false">
									<label for="inputReprovacao">Motivo Reprovação</label>
									<textarea class="form-control" name="inputReprovacao" id="inputReprovacao" disabled ng-model="ct.candidato.MotivoReprovacao"></textarea>
								</div>

							</form>
						</div>

					</div>

				</div>
			</div>
		</div>



	</div>



	<div class="row" ng-show="0">


		<div class="col-md-12">


			<div class="panel-card">
				<div class="panel-card-body">

					<!-- <form id="container-foto-candidatura" name="formImageCandidatura">
						<label style="display: block;margin-bottom: -8px;">Foto</label>
						<label class="custom-image-upload">
							<input ng-if="!ct.candidato.Validado" type="file" name="file" onchange="previewFile()">
							<div class="image-candidatura">
								<img src="img/default-user.png" style="width: 100%;position: absolute;z-index: 0;opacity: .5">
								<img src="" id="fotoCandidatura" style="z-index: 1;position: absolute;">
								<div ng-class="{'image-hover': !ct.candidato.Validado}">
									<p><i class="fa fa-camera"></i> Escolha sua foto</p>
								</div>
							</div>
						</label>
					</form> -->

				</div>
			</div>
		</div>

	</div>
</div>
