<!-- Fixo -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Votação</h2>
		<ol class="breadcrumb">
			<li>
				<a ui-sref="navContainer.home">Home</a>
			</li>
			<li ng-class="{'active': !ct.codEleicao}">
				<strong ng-hide="ct.codEleicao">Votação</strong>
				<a ng-show="ct.codEleicao" ui-sref="navContainer.votacoes">Votação</a>
			</li>
			<li class="active" ng-show="ct.codEleicao">
				<strong>Eleição #{{ct.codEleicao}}</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<!-- /Fixo -->
	
	<div class="row" ng-show="ct.error">
		<div class="col-md-12">
			<div class="alert alert-danger">
		        <p class="alert-link" style="display: inline;">Erro!</p> {{ct.error}}
		    </div>
		</div>
	</div>

	<div class="row" ng-show="!ct.error && ct.candidatos && ct.candidatos.length > 0">
		<div class="col-sm-8">
			<div class="form-group">
				<label>Filtro</label>
				<input type="text" name="filtroCandidatos" id="filtroCandidatos" class="form-control" placeholder="Procure seu candidato..." ng-model="ct.filtroCandidatos" ng-model-options="{debounce: 400}">
			</div>
		</div>
	</div>
	
	<div class="row" ng-show="!ct.error && ct.candidatos && ct.candidatos.length > 0" style="margin-bottom: 15px;">
		<div class="col-md-12">
			<button class="btn btn-white" ng-click="ct.votoBranco()">Votar em Branco</button>
		</div>
	</div>

	<div class="row" ng-show="!ct.error && ct.candidatos && ct.candidatos.length > 0">

		<div class="col-sm-12">

			<div class="row">
				<div class="col-lg-4" ng-repeat="c in ct.candidatos | filter:{'Nome': ct.filtroCandidatos}">
					<div class="contact-box">
						<div class="contact-box-content">
							<div class="col-sm-4">
								<div class="text-center">
									<img alt="image" class="img-circle m-t-xs img-responsive" data-ng-src="data:image/png;base64,{{c.Foto}}">
									<small class="m-t-xs" style="font-weight: 800;">{{c.Nome.split(' ')[0]}}</small>
								</div>
							</div>
							<div class="col-sm-8">
								<h4><strong>{{c.Nome | capitalize | ellipsis:15:0:!c.flagSobreMim}}</strong></h4>
								<small>
									<i class="fa fa-users"></i> {{c.Area | ellipsis:15:0:!c.flagSobreMim}}
									<br><i class="fa fa-briefcase"></i> {{c.Cargo | capitalize | ellipsis:15:0:!c.flagSobreMim}}
									<br><i class="fa fa-calendar"></i> Admissão: {{c.DataAdmissao | date:'dd/MM/yyyy'}}
								</small>
							</div>

							<div class="clearfix"></div>

							<div class="text-center" style="margin-top: 10px;">
								<a href class="sobre-mim" ng-click="c.flagSobreMim = !c.flagSobreMim">Sobre mim <i class="fa fa-angle-down"></i></a>
								<small class="sobre-mim">
									{{c.Sobre}}
								</small>
							</div>

						</div>

						<hr style="margin-top: 10px;">

						<div class="thumbnail-btn">
							<button ng-click="ct.votar(c)" class="btn btn-xs btn-primary">Votar <i class="fa fa-check"></i></button>
						</div>

					</div>
				</div>
			</div>

		</div>

	</div>

</div>
