<div class="text-center m-t-lg">
    <h1>
        Bem-Vindo ao Sistema de Votação Online!
    </h1>
    <p>
        O Sistema de Votação Online atualmente apresenta 2 módulos (CIPA e Comissão Interna de Trabalhadores) para que sua empresa possa administrar as eleições de seus representantes de forma transparente, ágil e confiável. Além disso, todo o processo de votação pode ser acompanhado em tempo real, com gráficos e relatórios interativos.
    </p>
</div>
<!--
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-6" ng-repeat="e in ct.eleicoes">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{e.NomeEtapa}}</span>
                    <h5>Eleição #{{e.Codigo}}</h5>
                </div>

                <div class="ibox-content">
                    <div class="team-members">
                        <!-- <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a5.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a6.jpg"></a> -->
<!--</div>

<div class="row" ng-show="e.etapaCandidatura">
    <div class="col-md-12">
        <button class="btn btn-primary">Candidate-se!</button>
        <hr>
    </div>
</div>

<div class="row" ng-show="e.etapaVotacao">
    <div class="col-md-12">
        <button class="btn btn-primary">Vote!</button>
        <hr>
    </div>
</div>
<h4>Gestão {{e.Gestao}}</h4>
<p>
    Acompanhe a eleição para eleger os representantes da {{e.NomeModulo}} para a gestão {{e.Gestao}}!<br>
    <dl>
        <dt>Unidade {{e.UnidadeObj.Codigo}}</dt>
        <dd>{{e.UnidadeObj.RazaoSocial}}, {{e.UnidadeObj.Estabelecimento}} - {{e.UnidadeObj.Cidade}}</dd>
    </dl>
</p> -->
<!-- <div>
    <span>Status of current project:</span>
    <div class="stat-percent">48%</div>
    <div class="progress progress-mini">
        <div style="width: 48%;" class="progress-bar"></div>
    </div>
</div> -->
<!--<div class="row  m-t-sm">
    <div ng-class="e.passouEtapaCandidatura ? 'col-sm-3': 'col-sm-4'">
        <div class="font-bold">FUNCIONARIOS</div>
        {{e.QtdaEleicao.TotalFuncionarios}}
    </div>
    <div class="col-sm-3 text-center" ng-show="e.passouEtapaCandidatura">
        <div class="font-bold">CANDIDATOS</div>
        {{e.QtdaEleicao.TotalCandidatos}}
    </div>
    <div class="text-center" ng-class="e.passouEtapaCandidatura ? 'col-sm-3': 'col-sm-4'">
        <div class="font-bold">EFETIVOS</div>
        {{e.QtdaEleicao.Efetivos}}
    </div>
    <div class="text-right" ng-class="e.passouEtapaCandidatura ? 'col-sm-3': 'col-sm-4'">
        <div class="font-bold">SUPLENTES</div>
        {{e.QtdaEleicao.Suplentes}}
    </div>
</div>

				</div>
			</div>
		</div>

<!-- Etapas da Eleição atual -->
<!--< div class="col-lg-4" style="margin-bottom: 40px">


    <form name="formTimeline" role="form" novalidate style="margin-top: 7px;">

        <div id="vertical-timeline" class="vertical-container light-timeline no-margins">

            <div class="vertical-timeline-block">

                <div class="vertical-timeline-icon navy-bg">
                    <i class="fa fa-calendar-check-o"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h4>Abertura</h4>
                    <span class="vertical-date">
                        {{e.DataInicio | date:'dd/MM/yyyy'}}
                    </span>
                </div>
            </div>

            <div class="vertical-timeline-block" ng-repeat="e in e.PrazosEtapasObj | orderBy:'Ordem'">
                <div class="vertical-timeline-icon" ng-class="{'blue-bg': e.CodigoEtapa == e.CodigoEtapa, 'gray-bg': e.CodigoEtapa > e.CodigoEtapa, 'navy-bg': e.CodigoEtapa < e.CodigoEtapa}">

                    <i class="fa" ng-class="e.CodigoEtapa >= e.CodigoEtapa ? 'fa-calendar' : 'fa-calendar-check-o'"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h4>{{e.NomeEtapa}}</h4>
                    <span>

                        <div ng-if="e.DataRealizada">

                            <div style="display: inline;" ng-if="(e.DataProposta | date:'dd/MM/yyyy') != (e.DataRealizada | date:'dd/MM/yyyy')">
                                <del style="background-color: transparent;">{{e.DataProposta | date:'dd/MM/yyyy'}}</del> -
                            </div>
                            {{e.DataRealizada | date:'dd/MM/yyyy'}}
                        </div>

                        <span ng-if="!e.DataRealizada">{{e.DataProposta | date:'dd/MM/yyyy'}}</span>

                    </span>
                </div>
            </div>
        </div>

    </form>

</div> -->
	<!--</div>
</div>-->