<!-- Fixo -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Usuários Administradores</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="navContainer.home">Home</a>
            </li>
            <li class="active">
                <strong>Usuários Administradores</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row">

        <div class="col-md-6">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cadastro <small ng-show="ct.buscandoUsuario">Buscando usuário...</small></h5>
                </div>

                <div class="ibox-content" ng-class="{'sk-loading': ct.buscandoUsuario}">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    <form role="form" name="ct.form" ng-submit="ct.salvar(ct.admin)">

                        <div class="row">
                            <div class="form-group col-xs-12" ng-class="{'has-error': form.loginUser.$dirty && form.loginUser.$invalid}">
                                <label for="loginUser">Login</label>
                                <input type="text" class="form-control" id="loginUser" name="loginUser" ng-model="ct.admin.Login" placeholder="Login" required ng-blur="ct.buscaUsuario(ct.admin.Login)">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12" ng-class="{'has-error': form.matricula.$dirty && form.matricula.$invalid}">
                                <label for="matricula">Matricula</label>
                                <input type="text" class="form-control" id="matricula" name="matricula" placeholder="Matrícula do Funcionário" ng-model="ct.admin.MatriculaFuncionario" required>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-xs-12" ng-class="{'has-error': form.nome.$dirty && form.nome.$invalid}">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome" name="nome" ng-model="ct.admin.Nome" placeholder="Nome" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12" ng-class="{'has-error': form.email.$dirty && form.email.$invalid}">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" ng-model="ct.admin.Email" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12" ng-class="{'has-error': form.empresa.$dirty && form.empresa.$invalid}">
                                <label for="empresa">Empresa</label>
                                <select class="form-control" name="empresa" id="empresa" ng-options="e.Codigo as e.RazaoSocial for e in ct.empresas" ng-model="ct.admin.CodigoEmpresa">
                                    <option value="">(Selecione)</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label>Permissões de acesso às empresas:</label>
                                <div ng-repeat="e in ct.empresas">
                                    <input type="checkbox" ng-model="e.selecionado"> {{ e.RazaoSocial }}
                                </div>
                            </div>
                        </div>

                        <hr>

                        <input type="submit" name="submitAdmin" class="btn btn-primary" value="Salvar" ng-disabled="form.$invalid">

                    </form>
                    

                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Administradores Cadastrados</h5>
                </div>

                <div class="ibox-content" ng-class="{'sk-loading': ct.loading}">



                    <div class="row">
                        <div class="col-xs-12">
                            <label for="inputFiltro">Filtrar Tabela</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" id="inputFiltro" name="inputFiltro" ng-model="filtro" placeholder="Digite uma expressão para filtrar" ng-model-options="{debounce:500}">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Login</th>
                                        <!-- <th>Matrícula</th> -->
                                        <th>Nome</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="a in ct.administradores | filter:filtro">
                                        <td>{{a.Login}}</td>
                                        <!-- <td>{{a.MatriculaFuncionario}}</td> -->
                                        <td>{{a.Nome}}</td>
                                        <td class="text-right">
                                            <button class="btn btn-success btn-xs" ng-click="ct.editar(a)"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs" ng-click="ct.excluir(a.Login)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
