<div class="modal fade" id="modalEmpresas" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Empresas Cadastradas</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12">
                        <label for="inputFiltroEmpresas">Filtrar Empresas</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" id="inputFiltroEmpresas" name="inputFiltroEmpresas"
                                ng-model="filtroEmpresas" placeholder="Digite uma expressão para filtrar"
                                ng-model-options="{debounce:500}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="containerTableModal">

                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Razão Social</th>
                                        <th width="10%"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="empresa in ct.empresas | filter:{RazaoSocial: filtroEmpresas}">
                                        <td>{{empresa.Codigo}}</td>
                                        <td>{{empresa.RazaoSocial}}</td>
                                        <td class="text-right">
                                            <button class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>