<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LDAPUrl" connectionString="LDAP://dc=acs,dc=com,dc=br" lockItem="false"/>
    <add name="DomainUrl" connectionString="acs.com.br" lockItem="false"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>