<!-- Fixo -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Eleições</h2>
		<ol class="breadcrumb">
			<li>
				<a ui-sref="navContainer.home">Home</a>
			</li>
			<li ng-class="{'active': !ct.codEleicao}">
				<strong ng-hide="ct.codEleicao">Eleições</strong>
				<a ng-show="ct.codEleicao" ui-sref="navContainer.eleicoes">Eleições</a>
			</li>
			<li class="active" ng-show="ct.codEleicao">
				<strong>{{ct.codEleicao}}</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<!-- /Fixo -->

	<!-- Filtro -->
	<div class="row">

		<div class="col-sm-3">
			<div class="form-group">
				<label class="control-label" for="inputFiltroStatus">Status</label>
				<select ng-model="ct.statusSelecionado" class="form-control" name="inputFiltroStatus" id="inputFiltroStatus" ng-options="s.Label for s in ct.eleicoesFiltro"></select>
			</div>
		</div>

		<div class="col-sm-5">
			<div class="form-group">
				<label class="control-label" for="inputFiltroUnidade">Unidade</label>
				<select ng-model="ct.unidadeSelecionada" name="inputFiltroUnidade" class="form-control" id="inputFiltroUnidade" ng-options="('#' + u.Unidade.Codigo + ' - ' + u.Unidade.RazaoSocial + ' (' + u.Unidade.Estabelecimento + ')') for u in ct.statusSelecionado.Unidades"></select>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label class="control-label" for="inputFiltroGestao">Gestão</label>
				<select ng-options="('#' + g.Codigo + ' - ' + g.Gestao) for g in ct.unidadeSelecionada.Eleicoes" ng-model="ct.gestaoSelecionada" class="form-control" ng-change="ct.alteraGestao()" name="inputFiltroGestao" id="inputFiltroGestao"></select>
			</div>
		</div>


	</div>

	<button class="btn btn-primary" ng-click="ct.novaEleicao()">Nova Eleição <i class="fa fa-plus"></i></button>

	<hr>

	<div class="row" ng-show="ct.codEleicao">

		<div class="col-sm-12 col-md-6">

			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Eleição {{ct.eleicaoAtual.Codigo}}</h5>
					<span class="label label-primary pull-right" ng-if="ct.eleicaoAtual.DataFechamento">Encerrada em {{ ct.eleicaoAtual.DataFechamento | date:'dd/MM/yyyy' }}</span>
				</div>

				<div class="ibox-content">

					<form class="form-horizontal" style="margin-top: 30px;" name="formEleicao" novalidate>

						<div class="form-group">
							<label class="control-label col-sm-3" for="inputGestao">Gestão</label>
							<div class="col-sm-5 col-md-4"> 
								<input type="text" class="form-control" name="inputGestao" id="inputGestao" ng-model="ct.eleicaoAtual.Gestao" disabled>
							</div>
						</div>

						<div class="row" style="margin-bottom: 15px;">
							<label class="control-label col-sm-3 col-xs-12" for="inputCodUnidade">Cód. Unidade</label>
						  	<div class="col-sm-5 col-md-4">
						    	<div class="input-group" ng-class="{'has-error': formEleicao.inputCodUnidade.$invalid}">
						      		<input class="form-control" ng-model="ct.eleicaoAtual.CodigoUnidade" name="inputCodUnidade" id="inputCodUnidade" required disabled>
						      		<span class="input-group-btn" ng-if="!ct.eleicaoAtual.DataFechamento">
						      			<button class="btn btn-default" data-toggle="modal" data-target="#modalUnidade"><i class="fa fa-pencil"></i></button>
						      		</span>
						    	</div>
						  	</div>
						</div>


						<div class="form-group">
							<label class="control-label col-sm-3" for="inputRazaoSocial">Razão Social</label>
							<div class="col-sm-9"> 
								<input type="text" class="form-control" name="inputRazaoSocial" id="inputRazaoSocial" ng-model="ct.eleicaoAtual.UnidadeObj.RazaoSocial" disabled>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3" for="inputCidade">Cidade/Estado</label>
							<div class="col-sm-9"> 
								<input type="text" class="form-control" name="inputCidade" id="inputCidade" ng-model="ct.eleicaoAtual.UnidadeObj.Cidade" disabled>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3" for="inputEndereco">Endereço</label>
							<div class="col-sm-9"> 
								<input type="text" class="form-control" name="inputEndereco" id="inputEndereco" ng-model="ct.eleicaoAtual.UnidadeObj.Estabelecimento" disabled>
							</div>
						</div>

						<div ng-if="ct.codigoModulo == 1">

							<div class="row" style="margin-bottom: 15px;">
								<label class="control-label col-sm-3" for="inputCodSindicato">Cód. Sindicato</label>
							  	<div class="col-sm-5 col-md-4">
							    	<div class="input-group" ng-class="{'has-error': formEleicao.inputCodSindicato.$invalid}">
							      		<input class="form-control" ng-model="ct.eleicaoAtual.CodigoSindicato" name="inputCodSindicato" id="inputCodSindicato" ng-keydown="ct.buscaSindicatoEnter($event, ct.eleicaoAtual.CodigoSindicato)" disabled>
							      		<span class="input-group-btn" ng-if="!ct.eleicaoAtual.DataFechamento">
							      			<button class="btn btn-default" data-toggle="modal" ng-click="ct.removerSindicato()"><i class="fa fa-times text-danger"></i></button>
							      			<button class="btn btn-default" data-toggle="modal" data-target="#modalSindicato"><i class="fa fa-pencil"></i></button>
							      		</span>
							    	</div>
							  	</div>
							</div>


							<div class="form-group">
								<label class="control-label col-sm-3" for="inputSindicato">Sindicato</label>
								<div class="col-sm-9"> 
									<input type="text" class="form-control" name="inputSindicato" id="inputSindicato" ng-model="ct.eleicaoAtual.SindicatoObj.Nome" disabled>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-3" for="inputEmailSindicato">E-mail</label>
								<div class="col-sm-9"> 
									<input type="text" class="form-control" name="inputEmailSindicato" id="inputEmailSindicato" ng-model="ct.eleicaoAtual.SindicatoObj.Email" disabled>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-3" for="inputEnderecoSindicato">Endereço</label>
								<div class="col-sm-9"> 
									<input type="text" class="form-control" name="inputEnderecoSindicato" id="inputEnderecoSindicato" ng-model="ct.eleicaoAtual.SindicatoObj.Endereco" disabled>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-3" for="inputCidadeSindicato">Cidade</label>
								<div class="col-sm-9"> 
									<input type="text" class="form-control" name="inputCidadeSindicato" id="inputCidadeSindicato" ng-model="ct.eleicaoAtual.SindicatoObj.Cidade" disabled>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-3" for="inputResponsavel">Responsável</label>
								<div class="col-sm-9"> 
									<input type="text" class="form-control" name="inputResponsavel" id="inputResponsavel" ng-model="ct.eleicaoAtual.SindicatoObj.Responsavel" disabled>
								</div>
							</div>

						</div>

					</form>

					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-info" ng-show="ct.eleicaoAtual && ct.eleicaoAtual.QtdaEleicao">
								<strong>Grupo {{ ct.eleicaoAtual.UnidadeObj.CodigoGrupo }}:</strong><br>
								<strong>{{ ct.eleicaoAtual.QtdaEleicao.TotalFuncionarios }}</strong> Funcionário(s) Cadastrado(s)<br>
								<strong>{{ ct.eleicaoAtual.QtdaEleicao.TotalCandidatos }}</strong> Candidatura(s)<br>
		                        <strong>{{ ct.eleicaoAtual.QtdaEleicao.Efetivos }}</strong> Representante(s) Efetivo(s)<br>
		                        <strong>{{ ct.eleicaoAtual.QtdaEleicao.Suplentes }}</strong> Representante(s) Suplente(s)
		                    </div>
						</div>
					</div>
					

				</div>

			</div>

		</div>

		<!-- Etapas da Eleição atual -->
		<div class="col-md-6 col-sm-12" style="margin-bottom: 40px" ng-if="ct.eleicaoAtual">


			<form name="formTimeline" role="form" novalidate style="margin-top: 7px;">

				<div id="vertical-timeline" class="vertical-container light-timeline no-margins">

					<div class="vertical-timeline-block">

						<div class="vertical-timeline-icon navy-bg">
							<i class="fa fa-calendar-check-o"></i>
						</div>

						<div class="vertical-timeline-content">
							<h4>Abertura</h4>
							<span class="vertical-date">
								{{ct.eleicaoAtual.DataInicio | date:'dd/MM/yyyy'}}
							</span>
						</div>
					</div>

					<div class="vertical-timeline-block" ng-repeat="e in ct.eleicaoAtual.PrazosEtapasObj | orderBy:'Ordem'">
						<div class="vertical-timeline-icon" ng-class="{'blue-bg': ct.statusEtapa(e) == 'atual', 'gray-bg': ct.statusEtapa(e) == 'futura', 'navy-bg': ct.statusEtapa(e) == 'finalizada'}">
							<i class="fa" ng-class="ct.statusEtapa(e) == 'finalizada' ? 'fa-calendar-check-o' : 'fa-calendar'"></i>
						</div>

						<div class="vertical-timeline-content">
							<h4>{{e.NomeEtapa}}</h4>

							<a href class="btn btn-sm btn-success" ng-click="ct.setProximaEtapa(ct.eleicaoAtual.Codigo)" ng-show="ct.statusEtapa(e) == 'atual'"> Próx. Etapa</a>

							<span>

								<div ng-if="e.DataRealizada">
								
									<div style="display: inline;" ng-if="(e.DataProposta | date:'dd/MM/yyyy') != (e.DataRealizada | date:'dd/MM/yyyy')">
										<del style="background-color: transparent;">{{e.DataProposta | date:'dd/MM/yyyy'}}</del> -  
									</div>
									{{e.DataRealizada | date:'dd/MM/yyyy'}}
								</div>

								<input type="date" ng-if="!e.DataRealizada" ng-change="e.flagAtualizarCronograma = true;" ng-class="{'text-success': !e.DataRealizada}" ng-model="e.DataProposta" style="display: inline;">
								
								<button class="btn btn-primary btn-xs pull-right" ng-if="e.flagAtualizarCronograma" ng-click="ct.salvarPrazoEtapa(e);e.flagAtualizarCronograma = false;"><i class="fa fa-floppy-o"></i></button>

							</span>
						</div>
					</div>
				</div>


			</form>

		</div>

	</div>

</div>

<div ng-include="'Assets/components/eleicoes/modalUnidade.html'"></div>
<div ng-include="'Assets/components/eleicoes/modalSindicato.html'"></div>

<!-- <div ng-include="'Assets/components/eleicoes/modalConfirmaEmails.html'"></div> -->
