<div class="modal fade" id="modalUnidade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="max-height: 550px;overflow-y: auto;">
            <div class="modal-header">
                <h4 class="modal-title">Nova Unidade</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                    	<form role="form" novalidate name="formUnidade">

                    		<div class="row">

								<div class="form-group col-md-6"  ng-class="{'has-error': formUnidade.codigoEmpresa.$invalid}">
									<label class="control-label" for="codigoEmpresa">Empresa</label>
									<select class="form-control" id="codigoEmpresa" name="codigoEmpresa" ng-model="ct.novaUnidade.CodigoEmpresa" ng-options="e.Codigo as (e.Codigo + ' - ' + e.RazaoSocial) for e in ct.empresas" required>
										<option value="">(Selecione)</option>
									</select>
								</div>

								<div class="form-group col-md-6" ng-class="{'has-error': formUnidade.cidadeUnidade.$invalid}">
								    <label class="control-label" for="cidadeUnidade">Cidade/Estado</label>
								    <input type="text" class="form-control" id="cidadeUnidade" name="cidadeUnidade" ng-model="ct.novaUnidade.Cidade" required>
								</div>

							</div>

							<div class="row">

								<div class="form-group col-md-9" ng-class="{'has-error': formUnidade.estabelecimentoUnidade.$invalid}">
								    <label class="control-label" for="estabelecimentoUnidade">Endereço</label>
								    <input type="text" class="form-control" id="estabelecimentoUnidade" name="estabelecimentoUnidade" required ng-model="ct.novaUnidade.Estabelecimento">
								</div>

								<div class="form-group col-md-3" ng-class="{'has-error': formUnidade.codigoGrupo.$invalid}">
								    <label class="control-label" for="codigoGrupo">Grupo</label>
								    <select class="form-control" id="codigoGrupo" name="codigoGrupo" ng-model="ct.novaUnidade.CodigoGrupo" ng-options="g.Codigo as g.Codigo for g in ct.grupos" required></select>
								</div>

							</div>							

							<button class="btn btn-success" ng-disabled="formUnidade.$invalid" ng-click="ct.salvarUnidade(ct.novaUnidade)">Salvar</button>
							<button class="btn btn-default" ng-if="ct.editandoUnidade" ng-click="ct.novaUnidade = null;ct.editandoUnidade = false;">Cancelar</button>

                    	</form>

                    	<div ng-if="!ct.editandoUnidade">
	                    	<hr>

	                    	<div class="containerTableModal">
		                    	<table class="table table-condensed table-hover" id="tableModalUnidades">
		                    		<thead>
		                    			<tr>
		                    				<th>Código</th>
			                    			<th>Razão Social</th>
			                    			<th>Cidade/Estado</th>
			                    			<th>Endereço</th>
			                    			<th>Grupo</th>
			                    			<th></th>
		                    			</tr>
		                    		</thead>
		                    		<tbody>
		                    			<tr ng-repeat="u in ct.unidades track by u.Codigo" ng-click="ct.selecionarUnidadeTabela(u)" ng-class="{'active': u.Codigo == ct.unidadeSelecionada.Codigo}">
		                    				<td>{{u.Codigo}}</td>
		                    				<td>{{u.RazaoSocial}}</td>
		                    				<td>{{u.Cidade}}</td>
		                    				<td>{{u.Estabelecimento}}</td>
		                    				<td>{{u.CodigoGrupo}}</td>
		                    				<td>
		                    					<button class="btn btn-xs btn-danger" ng-click="ct.deleteUnidade(u.Codigo)"><i class="fa fa-trash"></i></button>
		                    					<button class="btn btn-xs btn-primary" ng-click="ct.editarUnidade(u)"><i class="fa fa-pencil"></i></button>
		                    				</td>
		                    			</tr>
		                    		</tbody>
		                    	</table>
	                    	</div>
                    	</div>

                    </div>
                </div>

            </div>
            <div class="modal-footer" ng-if="!ct.editandoUnidade">
            	<button class="btn btn-success" ng-disabled="!ct.unidadeSelecionada" ng-click="ct.selecionarUnidade(ct.unidadeSelecionada);ct.editandoUnidade = false;" data-dismiss="modal">Selecionar</button>
            	<button class="btn btn-default" data-dismiss="modal" ng-click="ct.novaUnidade = null;ct.editandoUnidade = false;">Cancelar</button>
            </div>
        </div>
    </div>
</div>



