<div class="modal fade" id="modalConfirmaEmails" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmação de Envio de Emails</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <div style="margin-bottom: 10px;">
                            <ul class="nav nav-pills">
                                <li role="presentation" ng-repeat="e in ct.emails" ng-class="{'active': ct.abaConfirmaEmails==$index}"><a href ng-class="{'green-theme': ctCont.codigoModulo == 1}"}" ng-click="ct.clicaAba($index)">Email {{$index + 1}}</a></li>
                            </ul>
                        </div>

                        <hr>

                    	<form role="form" novalidate name="formEmail">

                    		<div class="form-group col-md-12" ng-class="{'has-error': formEmail.inputParaEmail.$invalid}">
							    <label class="control-label" for="inputParaEmail">Para</label>
							    <input type="text" class="form-control" id="inputParaEmail" name="inputParaEmail" ng-model="ct.email.ToJoined" required>
							</div>

							<div class="form-group col-md-12" ng-class="{'has-error': formEmail.inputCopiaEmail.$invalid}">
							    <label class="control-label" for="inputCopiaEmail">Cópia</label>
							    <input type="text" class="form-control" id="inputCopiaEmail" name="inputCopiaEmail" ng-model="ct.email.CopyJoined" required>
							</div>

							<div class="form-group col-md-12" ng-class="{'has-error': formEmail.inputAssuntoEmail.$invalid}">
							    <label class="control-label" for="inputAssuntoEmail">Assunto</label>
							    <input type="text" class="form-control" id="inputAssuntoEmail" name="inputAssuntoEmail" ng-model="ct.email.Subject" required>
							</div>

                            <div class="form-group col-md-12">
                                <label class="control-label">Mensagem</label>
    							<ui-div-editable content="ct.email.Message">
    							</ui-div-editable>
                            </div>

						</form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            	<button class="btn btn-success" ng-click="ct.enviaConfirmacao(ct.eleicaoAtual.Codigo, ct.emails)" ng-disabled="formEmail.$invalid">Confimar</button>
            	<button class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



